html {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.45;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  overflow-y: auto;
  overflow-x: hidden;
}

div {
  display: block;
}

body {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #458DD4;
}

a.topic {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #12134a;
  font-size: 0.75em;
}

nav {
  display: block;
}

footer {
  color: #929292;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  margin-right: 3em;
  color: #929292;
  word-wrap: break-word;
}

h1.headline {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 6px;
}

h2.subhead {
  font-size: 1em;
  font-weight: 400;
  color: #aaa;
  margin: 6px 0 6px 0;
}

h3.section{
  font-size: 1.1em;
  font-weight: 700;
}

.author {
  text-transform: uppercase;
  font-size: 0.75em;
}

.date {
  font-size: 0.75em;
}

div.article-body {
  font-size: 0.875em;
}

.quote {
  margin-left: 1em;
  background-color: #DEDEDE;
  padding: 1em 1em 1em 1em;
}

.article {
  max-width: 820px;
  margin-left: 80px;;
}

.article-foot {
  margin-top: 1.5em;
  text-align: center;
}

.full-foot {
  font-size: 0.6em;
  margin-top: 3em;
  padding: 0.5em 0 0.5em;
  position: relative;
  background: #f5f5f5;
  display: block;
  box-sizing: border-box;
}

.full-foot::before, .full-foot::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background: #f5f5f5;
  z-index: -1;
}

.full-foot::before {
  left: -100%;
}

.full-foot::after {
  left: 100%;
}


@media only screen and (max-width: 767px) {
  .article {
    width: 98%;
    margin: 0 auto;
  }

  h1.headline {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 6px;
    text-align: left;
  }

  .full-foot {
    padding: 0.3em 0 0.3em;
  }

  footer a {
    margin-right: 1.2em;
  }
}
