html, body {
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  color: #616161;
  font-size: 13px;
}

p {
  margin: 1.5em 0;
}

code {
  color: #191;
  font-family: "Source Code Pro", sans-serif;
}

pre {
  background-color: #f5f5f5;
  padding: 0.9em 0 0 0;
  overflow-x: auto;
  white-space: pre;
  font-size: 1em;
  line-height: 1.6em;
  margin: 2em 0;
  word-wrap: break-word;
  position: relative;
}

a {
  text-decoration: none;
  color: #3192c1;
  font-weight: bold;
  word-wrap: break-word;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 50px;
  position: relative;
}

ul {
  padding-left: 1.4em;
  margin: 0.5em 0;
  display: block;
  list-style-type: disc;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  color: #000;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2.625em;
  line-height: 1.143em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.12em;
  margin-bottom: 0.3em;
  line-height: 1.1em;
}

/* Tables */
table {
  table-layout: fixed;
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  line-height: 1.5em;
}

td, th {
  padding: 1em 1.5em;
  text-align: left;
  border: 1px solid #dcdcdc;
  word-wrap: break-word;
}

th {
  font-weight: bold;
  background: #e7e7e7;
}


/* Containers */
#container {
  max-width: 870px;
  margin: auto;
  width: 90%;
}

.article-main {
  width: 69%;
  padding-right: 2.2%;
  border-right: 1px solid #f5f5f5;
  min-height: 245px;
}

.right-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  overflow: auto;
  overflow-x: hidden;
  line-height: 1.3em;
}

.right-nav .nav-l {
  border-top: 1px solid dcdcdc;
  margin: 0;
  padding: 0.25em 0 0 0;
}

.right-nav .nav-box {
  display: block;
  padding: 1em 1em 0.8em 0.6em;
  margin-bottom: 0.8em;
}

.right-nav .nav-box a {
  color: #000;
}

.full-foot {
  font-size: 0.9em;
  padding: 20px 0 30px;
  position: relative;
  background: #f5f5f5;
  display: block;
}

footer a {
  margin-right: 3em;
  color: #929292;
  font-weight: 600;
  text-decoration: none;
  word-wrap: break-word;
  font-weight: bold;
}

.full-foot::before {
  left: -100%;
}

.full-foot::after {
  left: 100%;
}

.full-foot::before, .full-foot::after {
  content: ' ';
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background: #f5f5f5;
  z-index: -1;
}
