* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 50px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  color: #000;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2.625em;
  line-height: 1.143em;
}

#container {
  max-width: 870px;
  margin: auto;
  width: 90%;
}
