* {
  box-sizing: border-box;
}

html, body {
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-style: normal;
  color: #616161;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

div, section, nav, header {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 2.3em;
}

p {
  margin-top: -6px;
}

.locktop {
  position: fixed;
  top: 0;
  overflow: visible;
  border-bottom: 1px solid #ddd;
  margin-top: -12px;
  background: #fff;
  width: 100%;
}

.locktop::before {
  content: " ";
  display: table;
}

.locktop::after {
  content: " ";
  display: table;
  clear: both;
}

.nav-head {
  position: relative;
  z-index: 9;
  height: 56px;
  margin: 0 auto;
  display: block;
}

.nav-title {
  display: block;
  float: left;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 19px;
}

.button {
  background: #1d9bd9;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}

.buy {
  border-color: #137ec6;
  border-top-color: #1992da;
  border-bottom-color: #0d6ab2;
  color: #fff;
  font-size: 14px;
  padding: 0 0 0.9em;
  line-height: 1.7;
  background: linear-gradient(#3baee7, #08c);
  float: right;
  margin-left: 25px;
  margin-right: 30px;
  margin-top: 16px;
}

.buy.big {
  font-size: 22px;
}

.ctr {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  float: none;
  display: table-cell;
}

.single {
  float: left;
  position: relative;
  overflow: visible;
  text-align: left;
  width: 100%;
  margin-bottom: 1em;
}

.twin {
  float: left;
  position: relative;
  overflow: visible;
  text-align: center;
  padding: 0 18px;
  width: 50%;
  margin-bottom: 1em;
}

.triplet {
  float: left;
  position: relative;
  overflow: visible;
  text-align: center;
  padding: 0 12px;
  width: 33.33%;
  margin-bottom: 1em;
}

.main {
  max-width: 870px;
  width: 80%;
  margin: auto;
}
